img {
    width: 130px;
    margin-bottom: 18px;
}

body {
    text-align: center;
    background-color: #f3f3f3;
    background-image: url('./assets/bg.jpg');
}

.container {
    margin-top: 100px;
}

.botSpace {
    margin-bottom: 15px;
    cursor: pointer;
}

input {
    width: 238px;
    height: 40px;
    border-radius: 8px;
    padding: 12px;
}

.passClass {
    position: absolute;
    right: 59%;
    top: 309px;
}

.labelClass {
    margin-right: 10px;
    font-size: 22px;    
}

.emailClass{
    position: absolute;
    right: 59%;
    top: 253px;
}

button{
    background-color: #ccd8e3;
    border-radius: 7px;
    width: 102px;
    height: 34px;
}

.contSpace{
    margin: 100px 250px 100px 250px;
    background-color: #b3a2a2;
    padding-bottom: 50px;
}